@inherits BaseModalComponent
@if (IsVisible)
{
    <div class="modal fade show d-block" tabindex="-1" role="dialog" style="background-color:rgba(0,0,0,.5);" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body p-1">
                    <!-- Dropdown for Ürün Grubu -->
                    <div class="row  mb-1 small">
                        <div class="col-4">
                            <label class="form-label form-label-sm">Ürün Grubu</label>
                        </div>
                         <div class="col-8">
                            <select @onchange="FilterProducts" class="form-control form-select form-select-sm">
                                <option value="">(Tüm Ürün Grupları)</option>
                                @foreach (var group in ProductGroups)
                                {
                                    <option value="@group">@group</option>
                                }
                            </select>
                        </div>
                    </div>

                    <!-- Search for Ürün Adı -->
                    <div class="row  mb-1 small">
                        <div class="col-4">
                            <label class=" form-label form-label-sm">Ürün Adı</label>
                        </div>
                        <div class="col-8">
                            <div class="input-group input-group-sm">
                                <input type="text" @oninput="FilterProducts" autocomplete="off" placeholder="Ürün adından ara" class="form-control border-end-0" />
                                <button type="submit" class="btn btn-outline-secondary" onclick="clicked" style=" border: 1px solid #ced4da; border-left: none">
                                    <i class="oi oi-magnifying-glass">
                                        
                                    </i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Ürün tablosu -->
                    <div class="p-2 border border-1" style="height: 200px; max-width: 100%; overflow: auto">
                        <table class="table table-sm table-hover small table-borderless ">
                            <tbody>
                                @foreach (var product in FilteredProducts)
                                {
                                    <tr style="cursor: pointer">
                                        <td><i class="oi oi-box"></i></td>
                                        <td>
                                            <span style=" font-weight: 300; font-style:italic"> @product.Group</span>
                                        </td>
                                        <td>@product.Name</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                   
                    

                    <!-- ürün sayısı -->
                    <div class="p-2" style=" height: 40px;">
                        <div class="btg-dd-spinner spinner-grow spinner-border-sm text-dark align-middle" style="width: 22px; height: 22px; display: none;" role="status">
                            <span class="visually-hidden">Aranıyor</span>
                        </div>
                        <span class="btg-dd-status-text text-muted small fst-italic">@FilteredProducts.Count() adet ürün listeleniyor.</span>
                        <button type="button" class="btn-close float-end btn-sm" @onclick="Hide" aria-label="Close"></button>
                   </div>
                </div>
            </div>
        </div>
    </div>
}
